*::before, *::after{
    font-family: 'Times New Roman', Times, serif;
    font-weight: normal;
}
div{
    display: block;
}

body{
    min-height: 100vh;
    display: flexbox;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right, #ffffff, #4D4855);
}

#descText{
    margin: 10px;
    padding: 50px;
    display: flex;
    font-size: 24px;
    text-align: center;
    justify-content: center;
    align-items: center;
    white-space: no-wrap;
}


table{
    align-self:center;
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing:2px ;
    border-color:gray;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

tbody{
    display: table-row-group;
    vertical-align: middle;
    border-color:inherit;
}


#sciout{
    padding: 5px;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    border-left: 2px outset #252525;
    border-right: 1px solid #252525;
}

#sciSect{
    padding-top: 4px;
    width: 100%;
}

#baseSect{
    padding-top: 3px;
}

.functions{
    white-space: nowrap;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    height: 30px;
    margin: 1px;
    border: 1px solid #36454f;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #708090;
}

.functions:hover{
   background-color: #94a2af;
   cursor: pointer;
}


.num{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    height: 30px;
    margin: 1px;
    border: 1px solid #36454f;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color:	#536878;
}

.num:hover{ 
    cursor: pointer;
    background-color: #77828b;
}

.operator{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    height: 30px;
    margin: 1px;
    border: 1px solid #36454f;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color:	#53685f;
}

.operator:hover{
    cursor: pointer;
    background-color: #94a2af;
}

.scieq{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    height: 30px;
    margin: 1px;
    border: 1px solid #36454f;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color:	#53685f;
}

.scieq:hover{
    cursor: pointer;
    background-color: #94a2af;
}


.scimrc{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 50px;
    height: 30px;
    margin: 1px;
    border: 1px solid #36454f;
    border-radius: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color:	#53685f;
}

.scimrc:hover{
    background-color: #94a2af;
    cursor: pointer;
}





.scird{
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    height: 30px;
    margin: 1px;
    border: 1px solid #eeeeee;
    font-family: inherit;
    font-size: 13px;
    color: #252525;
    white-space: none;
}

td{
    width: 100%;
}

.Calculator{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    min-width: 50%;
}

.Calculator > button{
    padding: 0;
    margin: 0;
    cursor: pointer;
    font-size: 2rem;
    border: 1px solid white;
    outline: none;
    background-color: rgba(255, 255, 255, .75);
}

.Calculator > button:hover{
    background-color: rgba(255, 255, 255, .9);
}

.span-two{
    grid-column: span 2;
}


.output {
    color: white;
    grid-column: 1/-1;
    height: 75px;
    background-color: rgba(0,0,0, .5);
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    flex-direction: column;
    padding: 10px;
    word-wrap: break-word;
    word-break: break-all;
    max-width: 258px;
}

.output .previous-operand{
    color:rgba(255, 255, 255, .75);
    font-size: 1.5rem; 
}

.output .current-operand{
    color: white;
    font-size: 2.5rem;
}


